.app{
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 100%;
}
h1{
  display: block;
  text-align: center;
}
button{
  border: none;
  border-radius: none;
  box-shadow: none;
}
.displaynone{
  display: none;
}
.header{
  position: sticky;
  top: 0;
  padding: 1.6rem 2rem;
  background-color: white;
  transition: all 0.3s;
  z-index: 999;
  /* box-shadow: 0 3px 4px #0003; */
}
.addtodo{
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
}
.input{
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid rgb(107, 106, 106);
  border-radius: 12px;
  overflow: hidden;
}
.addtodo input[type="text"]{
  outline: none;
  padding: 0.8rem 1rem;
  border: none;
  font-size: 1.2rem;
}
.addtodo button{
  display: flex;
  align-items: center;
  background-color: rgb(134, 134, 134);
  padding: 1rem 1rem;
  font-size: 2rem;
  color: rgb(48, 48, 48);
}
.todos{
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  flex: 1 1 auto;
}
.todos>h1{
  text-align: center;
  margin: 1rem;
}
.todocard{
  margin: 0.3rem;
  border: 1px #0003 solid;
  border-radius: 8px;
  box-shadow: 1 1rem 0 #0003;
  padding: 1rem;
  transition: all 2s;
}
.todocard>.card{
  padding: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  justify-content: space-between;
}
.card>.btn{
  transition: all 500ms;
}
.options{
  display: flex;
  justify-content: space-around;
}
.options>img{
  padding: 0.5rem 2rem;
  border-radius: 12px;
  transition: all 600ms;
}
.options>img:hover{
  transition: all 400ms;
  background-color: #0003;
}
.nothing{
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.nothing>img{
  width: 100%;
}
@media  only screen and (min-width:728px) {
  .todos{
    align-items: center;
  }
  .todocard{
    min-width: 728px;
  }
}